doctype html
html(ng-app="myapp" lang="en")
  head

    link(rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="app/stylesheets/style.css")
    script(src="app/bower_components/jquery/dist/jquery.min.js")
    script(src="app/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="app/lib/angular/angular.min.js")


    script(src="app/app.js",type="application/javascript")
    script(src="app/controllers.js",type="application/javascript")
    script(src="app/directives.js",type="application/javascript")
  body
    div(class="container-fluid")
    div(ng-view)

    //  block content
